td.boardSpace {
    width: 90px;
    height: 90px;
    text-align: center;
}





#inputSegment{
    padding-left: 20%;
    padding-top: 30%;
}

h1{
    text-align:center; 
}
table {
    margin-top: auto;
    margin-bottom: auto;
}

body {
    height: 100%;
}


