td.boardSpace {
    width: 90px;
    height: 90px;
    text-align: center;
}
.prompt{grid-area:prompt;}
.table{grid-area:tableloc;}
.sumbit{grid-area:submit;}
.user_interactive{grid-area:user;}

#grid1{
    display:grid;
    grid-template-areas:
    "user" "user" "tableloc" "tableloc" "tableloc"
    "user" "user" "tableloc" "tableloc" "tableloc" ;

}






h1{
    text-align:center; 
}
table {
    margin-top: auto;
    margin-bottom: auto;
}

body {
    height: 100%;
}


