td.boardSpace {
    width: 90px;
    height: 90px;
    text-align: center;
}





#inputSegment{
    padding-left: 20%;
}

h1{
    text-align:center; 
}
table {
    margin-top: auto;
    margin-bottom: auto;
}
#text{
    padding-left: 20%;
    padding-top:30%;
}

body {
    height: 100%;
}

.Row{
    display:flex;
}

.space{
    margin:10px;
    text-align:center;
    background-color:cyan;
    color:yellow;
    width:80px;
    height:80px;
}


.one,.three, .seven, .nine{
    background-color: white;

}
#logWrapper{
    background-color:magenta;
    overflow:auto;
    width: 800px;
    height:200px;
    margin:auto;
}
p, .logText{
    padding-top:0px;
    border-bottom: 2px solid #000000;
}
